
.calendar_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 10px;
    gap: 5px;
}

.calendar_header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
    padding: 10px 10px 0px 10px
}

.calendar_header div {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar_container div {
    background-color: antiquewhite;
    padding: 3px;
}

.body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr;
    justify-content: center;
}